<a href="https://colab.research.google.com/github/navagigs/Admin/blob/master/01_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro to Pandas

In [ ]:
#import library pandas
import pandas as pd

#dataset
mydataset = {
  'lecture': ["Rahma Hanum", "Trianty", "Nava Gia"],
  'score': [7, 5, 3]
}

#Konversi dua kolom lecuture dan score
myvar = pd.DataFrame(mydataset)

print(myvar)

       lecture  score
0  Rahma Hanum      7
1      Trianty      5
2     Nava Gia      3

# Pandas Series

In [ ]:
import pandas as pd

lecture = ["Rahma Hanum", "Trianty", "Nava Gia"]
     
myvar = pd.Series (lecture)

print (myvar)

0    Rahma Hanum
1        Trianty
2       Nava Gia
dtype: object

Setelah membuat label, Kita dapat mengakses item dengan merujuk ke label.

In [ ]:
print (myvar[0])

Rahma Hanum

In [ ]:
import pandas as pd

lecture = ["Rahma Hanum", "Trianty", "Nava Gia"]

#memberi label x,yz
myvar = pd.Series(lecture, index = ["x", "y", "z"])

print(myvar)

x    Rahma Hanum
y        Trianty
z       Nava Gia
dtype: object

Setelah membuat label, Kita dapat mengakses item dengan merujuk ke label.

In [ ]:
print(myvar["y"])

Trianty

## Key/Value Objects as Series

In [ ]:
import pandas as pd

lecture = {"Rahma Hanum": 7, "Trianty": 5, "Nava Gia": 3}

myvar = pd.Series(lecture)

print(myvar)

Rahma Hanum    7
Trianty        5
Nava Gia       3
dtype: int64

Untuk memilih hanya beberapa item dalam kamus, gunakan indeks argumen dan hanya tentukan item yang ingin Kita sertakan dalam Seri.

In [ ]:
import pandas as pd

lecture = {"Rahma Hanum": 7, "Trianty": 5, "Nava Gia": 3}

myvar = pd.Series(lecture, index = ["Rahma Hanum", "Trianty"])

print(myvar)

Rahma Hanum    7
Trianty        5
dtype: int64

# Pandas DataFrames

In [ ]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

myvar = pd.DataFrame(data)
df = pd.DataFrame(data)
print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45

##Locate Row

In [ ]:
#merujuk ke indeks baris:
print(df.loc[0])

calories    420
duration     50
Name: 0, dtype: int64

In [ ]:
#gunakan daftar indeks:
print(df.loc[[0, 1]])

   calories  duration
0       420        50
1       380        40

# Load files to dataframe

In [1]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data.csv')

print(df.to_string())

          NPM                         Nama Lengkap
0   183220001             Rafli Syahrial Putradewa
1   183220003               Sri Nuryani Pujiastuti
2   183220002                Allya Sofiana Assyifa
3   183220004              Shifa Al-Fathia Laksana
4   183220005            Muhammad Rafli Rafsanjani
5   183220007                  Fadhil Irmani Putra
6   183220006                        Nurul Faujiah
7   183220008                Muhammad Dafa Farhani
8   183220009               Jonathan Rizky Sitorus
9   183220010                           Febriyanti
10  183220045       Muhammad Renaga Shafar Anggara
11  183220012                  Majestin Ammadienta
12  183220013                   Nauro Cahya Kanthi
13  183220014                 Muhammad Nurdiansyah
14  183220016                Firyal Iftinan Dianti
15  183220015           Ravendirtha Muchlas Aldino
16  183220017                          Wildan Azis
17  183220018                      Alia Mega Putri
18  183220019                   Jose Elio Parhusip
19  183220021                    Anindhita Azzahra
20  183220020    Reynara Oliver Sandedigo Simamora
21  183220022                      Hidayah Kamulia
22  183220028           Devina Syilva Putri Feliza
23  183220055                    Muhammad Amrulloh
24  183220027                          Siti Umayah
25  183220023                       Hanif Annaufal
26  183220026                   Ahmad Nouval Riant
27  183220025                           Fiska Dewi
28  183220029                Mochamad Fakhriy Afif
29  183220031                     Nailah Salsabila
30  183220030                  Defi Siti Anggraeni
31  183220037   Farrel Tommy Bresciano Butar Butar
32  183220033                  Arbi Maulidan Yusuf
33  183220034                        Fitra Zaelani
34  183220056            Galih Aulia Putra Wardaya
35  183220035         Meilanisa Moyan Sariningtyas
36  183220032                       Khalil Rabbani
37  183220048              Elizabeth Fiona Agnesia
38  183220052                      Indyra Yulianti
39  183220040  Disya Raissasyahra Dzakirah Rusydah
40  183220051                          Indi Sabila
41  183220042                    Alif Reihan Ashri
42  183220046          Muhammad Firjatullah Akhbar
43  183220053           Muhammad Farouq Dhiyaulhaq
44  183220049               Tiara Suci Puspitasari
45  183220050                         Tommy Wijaya
46  183220058             Aisyah Nushrah Diniyyati
47  183220047                       Muhammad Ridho
48  183220057                         Mukti Sugian
49  183220054                   Afif Surya Santoso
50  183220059                  Melvan Faza Hidayat
51  183220064            Najla Nazhira Putri Afvin
52  183220065                 Rahma Kharisma Putri
53  183220061                     Rani Artika Sari
54  183220060           Kukuh Tabah Sulthon Khoiri
55  183220062     Dyah Ayu Elsa Pitaloka Marantika
56  183220063                     Diva Putri Anisa
57  183220067               Farhan Azhar Ramdhiano
58  183220066                       Ardita Mandala

In [ ]:
import pandas as pd
df = pd.read_csv('/content/data.csv')

print(df.to_string())

                                 NPM;Nama Lengkap
0              183220001;Rafli Syahrial Putradewa
1                183220003;Sri Nuryani Pujiastuti
2                 183220002;Allya Sofiana Assyifa
3               183220004;Shifa Al-Fathia Laksana
4             183220005;Muhammad Rafli Rafsanjani
5                   183220007;Fadhil Irmani Putra
6                         183220006;Nurul Faujiah
7                 183220008;Muhammad Dafa Farhani
8                183220009;Jonathan Rizky Sitorus
9                            183220010;Febriyanti
10       183220045;Muhammad Renaga Shafar Anggara
11                  183220012;Majestin Ammadienta
12                   183220013;Nauro Cahya Kanthi
13                 183220014;Muhammad Nurdiansyah
14                183220016;Firyal Iftinan Dianti
15           183220015;Ravendirtha Muchlas Aldino
16                          183220017;Wildan Azis
17                      183220018;Alia Mega Putri
18                   183220019;Jose Elio Parhusip
19                    183220021;Anindhita Azzahra
20    183220020;Reynara Oliver Sandedigo Simamora
21                      183220022;Hidayah Kamulia
22           183220028;Devina Syilva Putri Feliza
23                    183220055;Muhammad Amrulloh
24                          183220027;Siti Umayah
25                       183220023;Hanif Annaufal
26                   183220026;Ahmad Nouval Riant
27                           183220025;Fiska Dewi
28                183220029;Mochamad Fakhriy Afif
29                     183220031;Nailah Salsabila
30                  183220030;Defi Siti Anggraeni
31   183220037;Farrel Tommy Bresciano Butar Butar
32                  183220033;Arbi Maulidan Yusuf
33                        183220034;Fitra Zaelani
34            183220056;Galih Aulia Putra Wardaya
35         183220035;Meilanisa Moyan Sariningtyas
36                       183220032;Khalil Rabbani
37              183220048;Elizabeth Fiona Agnesia
38                      183220052;Indyra Yulianti
39  183220040;Disya Raissasyahra Dzakirah Rusydah
40                          183220051;Indi Sabila
41                    183220042;Alif Reihan Ashri
42          183220046;Muhammad Firjatullah Akhbar
43           183220053;Muhammad Farouq Dhiyaulhaq
44               183220049;Tiara Suci Puspitasari
45                         183220050;Tommy Wijaya
46             183220058;Aisyah Nushrah Diniyyati
47                       183220047;Muhammad Ridho
48                         183220057;Mukti Sugian
49                   183220054;Afif Surya Santoso
50                  183220059;Melvan Faza Hidayat
51            183220064;Najla Nazhira Putri Afvin
52                 183220065;Rahma Kharisma Putri
53                     183220061;Rani Artika Sari
54           183220060;Kukuh Tabah Sulthon Khoiri
55     183220062;Dyah Ayu Elsa Pitaloka Marantika
56                     183220063;Diva Putri Anisa
57               183220067;Farhan Azhar Ramdhiano
58                       183220066;Ardita Mandala

In [ ]:
print(df)

                                 NPM;Nama Lengkap
0              183220001;Rafli Syahrial Putradewa
1                183220003;Sri Nuryani Pujiastuti
2                 183220002;Allya Sofiana Assyifa
3               183220004;Shifa Al-Fathia Laksana
4             183220005;Muhammad Rafli Rafsanjani
5                   183220007;Fadhil Irmani Putra
6                         183220006;Nurul Faujiah
7                 183220008;Muhammad Dafa Farhani
8                183220009;Jonathan Rizky Sitorus
9                            183220010;Febriyanti
10       183220045;Muhammad Renaga Shafar Anggara
11                  183220012;Majestin Ammadienta
12                   183220013;Nauro Cahya Kanthi
13                 183220014;Muhammad Nurdiansyah
14                183220016;Firyal Iftinan Dianti
15           183220015;Ravendirtha Muchlas Aldino
16                          183220017;Wildan Azis
17                      183220018;Alia Mega Putri
18                   183220019;Jose Elio Parhusip
19                    183220021;Anindhita Azzahra
20    183220020;Reynara Oliver Sandedigo Simamora
21                      183220022;Hidayah Kamulia
22           183220028;Devina Syilva Putri Feliza
23                    183220055;Muhammad Amrulloh
24                          183220027;Siti Umayah
25                       183220023;Hanif Annaufal
26                   183220026;Ahmad Nouval Riant
27                           183220025;Fiska Dewi
28                183220029;Mochamad Fakhriy Afif
29                     183220031;Nailah Salsabila
30                  183220030;Defi Siti Anggraeni
31   183220037;Farrel Tommy Bresciano Butar Butar
32                  183220033;Arbi Maulidan Yusuf
33                        183220034;Fitra Zaelani
34            183220056;Galih Aulia Putra Wardaya
35         183220035;Meilanisa Moyan Sariningtyas
36                       183220032;Khalil Rabbani
37              183220048;Elizabeth Fiona Agnesia
38                      183220052;Indyra Yulianti
39  183220040;Disya Raissasyahra Dzakirah Rusydah
40                          183220051;Indi Sabila
41                    183220042;Alif Reihan Ashri
42          183220046;Muhammad Firjatullah Akhbar
43           183220053;Muhammad Farouq Dhiyaulhaq
44               183220049;Tiara Suci Puspitasari
45                         183220050;Tommy Wijaya
46             183220058;Aisyah Nushrah Diniyyati
47                       183220047;Muhammad Ridho
48                         183220057;Mukti Sugian
49                   183220054;Afif Surya Santoso
50                  183220059;Melvan Faza Hidayat
51            183220064;Najla Nazhira Putri Afvin
52                 183220065;Rahma Kharisma Putri
53                     183220061;Rani Artika Sari
54           183220060;Kukuh Tabah Sulthon Khoiri
55     183220062;Dyah Ayu Elsa Pitaloka Marantika
56                     183220063;Diva Putri Anisa
57               183220067;Farhan Azhar Ramdhiano
58                       183220066;Ardita Mandala

In [ ]:
print(df.head(17))

                            NPM;Nama Lengkap
0         183220001;Rafli Syahrial Putradewa
1           183220003;Sri Nuryani Pujiastuti
2            183220002;Allya Sofiana Assyifa
3          183220004;Shifa Al-Fathia Laksana
4        183220005;Muhammad Rafli Rafsanjani
5              183220007;Fadhil Irmani Putra
6                    183220006;Nurul Faujiah
7            183220008;Muhammad Dafa Farhani
8           183220009;Jonathan Rizky Sitorus
9                       183220010;Febriyanti
10  183220045;Muhammad Renaga Shafar Anggara
11             183220012;Majestin Ammadienta
12              183220013;Nauro Cahya Kanthi
13            183220014;Muhammad Nurdiansyah
14           183220016;Firyal Iftinan Dianti
15      183220015;Ravendirtha Muchlas Aldino
16                     183220017;Wildan Azis